#commentBox {
  width: 100%;
}

#commentBox #box {
  margin-top: 1.0rem;
  margin-bottom: 1rem;
}

#commentBox #box #toast {
  position: fixed;
  top: 4.5rem;
  left: 2.3rem;
  width: 2.7rem;
  height: 2.5rem;
  line-height: 1.0rem;
}

#commentBox .am-wingblank #content {
  list-style: none;
  padding: 0.15rem;
  background-color: #cfc;
  border-radius: 0.15rem;
}
