.menuList1 {
  width: 100%;
  height: 2.0rem;
  margin: 0.3rem 0;
}

.menuList1 ul {
  width: 100%;
  height: 2.0rem;
}

.menuList1 ul li {
  text-align: center;
  float: left;
  width: 25%;
  height: 2rem;
}

.menuList1 ul li a img {
  width: 90%;
  margin: 5% 0;
  height: 1.6rem;
}

#recommend {
  width: 100%;
}

#recommend h2 {
  height: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.8rem;
}

#recommend ul {
  width: 100%;
}

#recommend ul li {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 3.5rem;
}

#recommend ul li img {
  width: 100%;
  height: 3.5rem;
}

#menuItem {
  width: 50%;
  height: 3.5rem;
  float: left;
}
